[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.7.1"
requests = "==2.22.0"
pygithub = "==1.51"
selenium = "==4.33.0"
webdriver-manager = "==4.0.2"
selenium-stealth = "==1.0.6"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.19"